asgiref==3.7.2
colorama==0.4.6
Django==4.2.2
django-auto-logout==0.5.1
django-axes==6.0.1
django-crispy-forms==1.14.0
django-environ==0.10.0
django-formtools==2.4.1
django-otp==1.2.1
django-phonenumber-field==6.4.0
django-recaptcha==3.0.0
django-two-factor-auth==1.15.2
phonenumbers==8.13.13
pypng==0.20220715.0
pytz==2023.3
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
